<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.argent.aiyunzan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--
        只要依赖 AutoSize 就必须填写设计图尺寸, 否则报错, 不想使用 AutoSize 就不要依赖 AutoSize
        只要填写完设计图的尺寸, AutoSize 就会自动启动, 以下 dp 尺寸是根据公式 px / (dpi / 160) 求出, 运算时使用测试机的 dpi 即可
        AutoSize 的详细介绍请看这里 https://juejin.im/post/5bce688e6fb9a05cf715d1c2
        -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" /> <!-- arms配置 -->
        <meta-data
            android:name="com.argent.aiyunzan.common.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name=".MAIN.mvp.ui.activity.Main_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MAIN.mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MAIN.mvp.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/splash" />
        <activity
            android:name=".MAIN.mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash" />
        <activity
            android:name=".MAIN.mvp.ui.activity.LoginAuthCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash" />
        <activity
            android:name=".MAIN.mvp.ui.activity.LoginForgetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu5Click1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_WszlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu1Click1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_SrmxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_TxjlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu6XqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_Menu1Click2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MINE.mvp.ui.activity.Mine_SrmxClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HOME.mvp.ui.activity.Home_Menu4BuyWxActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>